
# pixi environments
.pixi
.idea
*.egg-info
*__pycache__*
*.json
test*.ipynb
open-science-catalog-metadata
htmlcov/
*.coverage
_build/
dist/
dev.ipynb
earthcode/models
guide/project.yaml
guide/.ipynb_checkpoints/
guide/product.yaml
earthcode/generators/project_generator.py
guide/workflow.yaml
guide/experiment.yaml
